*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    height: 100vh;
    background: linear-gradient(#3f87a6, #ebf8e1, #f69d3c, #561423);
    position: relative;
    display: flex;
    flex-direction: column;

}

.svg {
    position: absolute;
    bottom: 0;
    width: 100vw;
}

.nav-list ul li a{
    background-color: black;
}
 .heading{

 }